*.bak
*.build
*.csproj
*.csproj.user
*.db-journal
*.dll.build
*.DS_Store
*.hg
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.StyleCop
*.suo
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*StyleCop.Cache
*~
.hgignore
.hgtags
.project
.settings

compile.*.bat
compile.bat
compilex64.vs2010.bat
debug/*
doxygen.error.log
Examples/*.dll
hgrc
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
Vision.build
Vision.sln
Vision.sln.cache

# Addons

addon-modules/*/

# Binary

VisionSim/bin/*.log
VisionSim/bin/*/WhiteCore.*.dll
VisionSim/bin/.version
VisionSim/bin/WhiteCore.*.dll
VisionSim/bin/WhiteCore.*.exe
VisionSim/bin/WhiteCore.exe

# Data files

VisionSim/Data/AssetCache/*
VisionSim/Data/AvatarArchives/*
VisionSim/Data/Banker.txt
VisionSim/Data/FileAssets/*
VisionSim/Data/Governor.txt
VisionSim/Data/OarFiles/*
VisionSim/Data/Marketplace.txt
VisionSim/Data/RealEstate.txt
VisionSim/Data/RegionBak/*.sim
VisionSim/Data/Region/*.sim
VisionSim/Data/ScriptEngines/*-*-*-*-*
VisionSim/Data/ScriptEngines/*.dll
VisionSim/Data/ScriptEngines/*/*.dll
VisionSim/Data/ScriptEngines/*/*.state
VisionSim/Data/SQLite/*.db
VisionSim/Data/SystemEstate.txt
VisionSim/Data/UserArchives/*

# Documentation

VisionDocs/