*.hg
.hgignore
.hgtags
hgrc

*.bak
*.build
#*.command
*.csproj
*.csproj.user
*.db-journal
#*.dll
*.dll.build
*.DS_Store
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*~
.project
.settings
addon-modules/*/
Vision.build
Vision.sln
Vision.sln.cache
Vision.suo
Vision.v11.suo
Vision.v12.suo
VisionDocs/doxygen/

VisionSim/Data/AssetCache/*
VisionSim/Data/FileAssets/*
VisionSim/Data/Region/*.sim
VisionSim/Data/RegionBak/*.sim
VisionSim/Data/SQLite/*.db
VisionSim/Data/OarFiles/*

VisionSim/Data/ScriptEngines/*-*-*-*-*
VisionSim/Data/ScriptEngines/*.dll
VisionSim/Data/ScriptEngines/*/*.dll
VisionSim/Data/ScriptEngines/*/*.state
VisionSim/Data/Marketplace.txt
VisionSim/Data/RealEstateUser.txt
VisionSim/Data/AvatarArchives/*
VisionSim/Data/Banker.txt
VisionSim/Data/UserArchives/*
VisionSim/Data/Governor.txt
VisionSim/Data/SystemEstate.txt

VisionSim/bin/*.log
VisionSim/bin/.version
VisionSim/bin/WhiteCore.exe
VisionSim/bin/WhiteCore.*.exe
VisionSim/bin/WhiteCore.*.dll
VisionSim/bin/*/WhiteCore.*.dll

#bin/*.abackup
#bin/*.db
#bin/*.dll
#bin/*.dll.mdb
#bin/*.exe
#bin/*.ini
#bin/*.ini.old
#bin/*.log
#bin/*.maddin
#bin/*.manifest
#bin/*.pdb
#bin/*.sim
#bin/addin-db-*
#bin/assetcache
#bin/Vision.version
#bin/crashes/
#bin/Debug/*.dll
#bin/DefaultInventory
#bin/estate_settings.xml
#bin/Physics*
#bin/Regions/*
#bin/Terrain*
#bin/UserAssets
compile.*.bat
compile.bat
compilex64.vs2010.bat
doxygen.error.log
Examples/*.dll
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
*StyleCop.Cache
*.StyleCop
debug/*