*.bak
*.build
*.csproj
*.csproj.user
*.db-journal
*.dll.build
*.DS_Store
*.hg
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.StyleCop
*.suo
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*StyleCop.Cache
*~
.hgignore
.hgtags
.project
.settings

compile.*.bat
compile.bat
compilex64.vs2010.bat
debug/*
doxygen.error.log
Examples/*.dll
hgrc
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
Vision.build
Vision.sln
Vision.sln.cache

# Addons

addon-modules/*/

# Binary

VisionSim/bin/*.log
VisionSim/bin/*/Vision.*.dll
VisionSim/bin/.version
VisionSim/bin/Vision.*.dll
VisionSim/bin/Vision.*.exe
VisionSim/bin/Vision.exe

# This is dependant upon x86/x64 and created at runtime
VisionSim/bin/ode.dll

# 20170322 - Exclude LibOMV libraries that are now included in the build process
VisionSim/bin/CSJ2K.dll
VisionSim/bin/OpenMetaverse.dll
VisionSim/bin/OpenMetaverse.StructuredData.dll
VisionSim/bin/OpenMetaverseTypes.dll

# Data files

VisionSim/Data/AssetCache/*
VisionSim/Data/AvatarArchives/*
VisionSim/Data/Banker.txt
VisionSim/Data/FileAssets/*
VisionSim/Data/Governor.txt
VisionSim/Data/OarFiles/*
VisionSim/Data/Marketplace.txt
VisionSim/Data/RealEstate.txt
VisionSim/Data/RegionBak/*.sim
VisionSim/Data/Region/*.sim
VisionSim/Data/ScriptEngines/*-*-*-*-*
VisionSim/Data/ScriptEngines/*.dll
VisionSim/Data/ScriptEngines/*/*.dll
VisionSim/Data/ScriptEngines/*/*.state
VisionSim/Data/SQLite/*.db
VisionSim/Data/SystemEstate.txt
VisionSim/Data/UserArchives/*

# Documentation

VisionDocs/
