[WhiteCoreData]
;;
;; Change the connection string to your db details
;; NOTE: This sets up the database for all services
;; 
ConnectionString = "Data Source=localhost;Port=3306;Database=vision;User ID=vision;Password=whitecorepass;Charset=utf8;"
StorageProvider = MySQL